[access "refs/heads/*"]
	read = group learn
	owner = group learn
	label-Code-Review = -2..+2 group learn
	labelAs-Verified = -1..+1 group learn
	exclusiveGroupPermissions = abandon addPatchSet create createSignedTag push read
	abandon = group learn
	addPatchSet = group learn
	create = group learn
	createSignedTag = group learn
	push = group learn
	pushMerge = group learn
